p{
    color:blueviolet;
    font-family: tahoma;
     font-size: 30px;
     background:beige;  
   }
   
   body{
       background-color: slategray;
   }
   
   h1{
       color:indigo;
       font-size: larger;
       font-family: 'sans-serif;
    
   }
   
   h2{
       color:aqua;
       font-size: 20px;
       
   }
   
   
   h3{
       color:violet;
       font-size:16px;
   }

   footer{
    color: brown;
    font-size: 5px;
   }

   #testP, .funParagraph{
    color: green;
    /* //font-size: 25px; */
    /* //font-style: italic; */
        
   }

   .warning{
    font-style: italic;
    font-weight: 300;
   }

   #mainHeading{
    /* //font-size: 30px; */
    /* //font-family:  sans-serif; */
    color:red;

   }

   div{
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
 }

   header{
    font-size: 10px;
    font-style: italic;
    font-family: Verdana;
   }

   main{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
   }

   body{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-left: 8px;
   }